@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --sidebar-color: #282828;
    --main-backgroundColor: #1e1e1e;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Rethink Sans';
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-color);
    padding: 12px 13px 0 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sideTopbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.profileImg {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    order: 1;
}

.userName {
    order: 2;
    display: flex;
    align-items: center;
}

.userName>span {
    order: 1;
    font-size: 15px;
    font-weight: 600;
}

.userName>svg {
    order: 2;
}

.utilities {
    display: flex;
    flex-direction: column;
}

.utilitySection {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    gap: 16px;
}

.utilitySection>svg {
    width: 28px;
}

.utilitySection:visited {
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.listSection {
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.listSection>svg {
    width: 28px;
}


.notification {
    color: white;
    outline: none;
    padding: 5px;
    border-radius: 10px;
}

.notification>svg {
    height: 30px;
}

.mainContent {
    background-color: var(--main-backgroundColor);
    position: relative;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    gap: 15px;
}

.image {
    color: white;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

.addTodo {
    padding: 20px;
    background-color: white;
    color: #1e1e1e;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    bottom: 10%;
    right: 10%;
}

.addTodo>svg {
    height: 50px;
}

.startDialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.startDialog>h1,
p {
    color: #656667;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 25px;
}

#form {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: var(--main-backgroundColor);
    width: 518px;
    height: 154px;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 20%;
    right: 0;
    top: 26%;
    border: 1px solid #656667;
}

#title {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: var(--main-backgroundColor);
    color: white;
}

#description {
    font-size: 13px;
    outline: none;
    border: none;
    background-color: var(--main-backgroundColor);
    color: white;
}

.image:hover {
    background-color: #343434;
}

.user:hover,
.notification:hover,
.utilitySection:hover,
.listSection:hover {
    background-color: #1e1e1e;
}